@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 


:root
{
    --black: #333;
    --light-color: #cdaa7c;
    --box-shadow: 0 .5rem rgba(0,0,0.1);
}


*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html
{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;

}
/* navbar style start */

header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--black);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

header .logo img
{
    height: outo;
}

header .navbar a{
    font-size: 1.7rem;
    padding: 5rem 1.5rem;
    color: var(--light-color);
    border: 1rem solid transparent;
}

header .navbar a.active,
header .navbar a:hover
{
    color: #fff;
    border: .1rem solid rgba(205,170,124,0.2);

}

header .cons i
{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 5rem;
    background: var(--light-color);
    text-align: center;
    font-size: 20px;
    

}
header .icons i:hover
{
    color: #fff;
    background: var(--light-color);
    transform: rotate(360deg);
}

header .icons #menu
{
    display: none;
}

/* navbar style ends here */

/* slider start here */
.home .home-slider .slide
{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: flex-start;
}

.home .home-slider .slide1
{
    background-image: url('images/slide-show4.jpg');

}
.home .home-slider .slide2
{
    background-image: url('images/slide-show0.jpg');
}
.home .home-slider .slide3
{
    background-image: url('images/fresh-fruits.png');
}
.home .home-slider .slide1,
.home .home-slider .slide2,
.home .home-slider .slide3
{
    background-size: cover;
    background-repeat: no-repeat;
}
.home .home-slider .slide .content
{
    text-align: center;
    padding-left: 9rem;

}
.home .home-slider .slide .content h3
{
    color: var(--light-color);
    font-size: 3rem;
    font-weight: 300;
}

.home .home-slider .slide .content h1
{
    color: #fff;
    font-size: 8rem;

}

.home .home-slider .slide .content p
{
    color: #e6e7e7;
    font-size: 1.8rem;
    letter-spacing: 1px;
    padding: 5rem 0;
    line-height: 1.5;
    font-weight: 200;


}
.btn
{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    border: 1rem solid rgba(205,170,124,0.2);
    background: transparent;
    cursor: pointer;
    padding: 8rem 3rem;
    position: relative;
    overflow: hidden;
    z-index: -1;

}
.btn:before
{
    content: '';
    width: 100%;
    height: 100%;
    background: var(--light-color);
    z-index: -1;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 5s;

}

.btn:hover.btn:before
{
    left: 0;

}
.swiper-pagination-bullet
{
    background: var(--light-color)!important;
    width: 15px!important;
    height: 15px!important;
    border-radius: 0!important;
}
/* welcome query start here */
section
{
    padding: 8rem 9%;
}
.heading
{
    text-align: center;
    color: var(--black);
    font-size: 4.5rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 300;
    margin-bottom: 4rem;
    background: var(--black);
    display: inline-block;

}
.welcome .box-container
{
    display: flex;
    gap: 1.5rem;
}
.welcome .box-container .box
{
    width: 33%;
    background: var(--black);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding-bottom: 1%;

}
.welcome .box-container .box .images
{
    height: 25rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.welcome .box-container .box .images img
{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.welcome .box-container .box .images:hover img
{
    transform: scale(1.1);

}
.welcome .box-container .box .content
{
    padding:  2rem;
    padding-top: 2rem;

}
.welcome .box-container .box .content h3
{
    color: var(--light-color);
    font-size: 2.2rem;
    font-weight: 400;
}
.welcome .box-container .box .content p
{
    color: #eee;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 5rem 0;
    line-height: 1.5;

}
/* welcome query ends here */
.sub-heading
{
    text-align: center;
    color: var(--light-color);
    font-size: 2.5rem;
    padding: .5rem 2rem;
}


/* our-menu style start */
.our-menu
{
    background: url() left top no-repeat, url(images/menu-background.jpg);
}

.our-menu .menu-container
{
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50rem,2fr));
    gap: 5rem 10rem;
}

.our-menu .menu-container .item .item-name
{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    margin-top: .5rem;

}

.our-menu .menu-container .item .item-name h2
{
    font-size: 3rem;
    color: #e5e5e5;
    font-weight: 300;

}

.our-menu .menu-container .item .item-menu h3
{
    font-size: 2rem;
    color: #e5e5e5;
    font-weight: 200;
    display: inline-block;
}

.our-menu .menu-container .item .item-menu span
{
    width: 37%;
    display: inline-block;
    border: 1px dotted #e5e5e5;
}
.our-menu .menu-container .item .item-menu ul
{
    display: flex;
    font-size: 1.5rem;
    list-style: none;
    padding: .8rem 0;
    font-weight: 200;

}
.our-menu .menu-container .item .item-menu ul li a
{
    color: #b9b9b9;
}

/* our chef style start */
.our-chef
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    grid-gap: 1.5rem;

}
.our-chef .item .image img
{
    width: 100%;
}
.our-chef .item 
{
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.our-chef .item:before
{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    display: none;
    top: 0;left: 0;right: 0;bottom: 0;
    background:rgba(0,0,0,.5);
    z-index: 5;
}

.our-chef .item:hover.item:before
{
    display: block;
}
.our-chef .item .chef-info
{
    position: absolute;
    top: 130%;
    left: 0;right: 0;bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 10;
    align-items: center;
    transition: 1s;
    cursor: pointer;

    
}

.our-chef .item .chef-info h3
{
    font-size: 1.7rem;
    color: #fff;
    padding: .8rem 0;
    text-transform: uppercase;

}

.our-chef .item .chef-info span
{
    font-size: 1.7rem;
    color: var(--light-color);
    letter-spacing: 1px;
    font-weight: 300;

}

.our-chef .item .chef-info ul
{
    list-style: none;
    display: flex;
    grid-gap: 2rem;
    padding: 3rem 0;
}
.our-chef .item .chef-info ul li a
{
    color: #b9b6b9;
    font-size: 1.8rem;

}
.our-chef .item:hover .chef-info
{
    top: 0;


}



/* our chef style end */


.our-menu .menu-container .item .menu-item
{
    padding: 5rem 0;
}

/* our-menu style end */



/* slider ends here */

/* media query */

@media (max-width:991px)
{
    html
    {
        font-size: 55%;

    }
    header
    {
        padding: 1rem 2rem;
    }

    header .logo img
    {
        height: 7rem;
    }

    .our-menu .menu-container
    {
        grid-template-columns: repeat(auto-fit,minmax(30rem,2fr));
    }

    .our-menu .menu-container .item .item-menu span
    {
        width: 15%;
    }
    

}

@media (max-width:768px)
{
    /* navbar media query */
    header .logo img
    {
        height: 7rem;
    }
    header .icons #menu
    {
        display: inline-block;
    }
    header .navbar
    {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(205,170,124,0.2);
        border-bottom: .1rem solid rgba(205,170,124,0.2);
        padding: 1rem;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    header .navbar .active
    {
        clip-path: polygon(0 0,100% 0,100% 100%,100%);
    }

    header .navbar a
    {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: var(--black);
    }
    /* slide media query */
    .home .home-slider .slide
{
    height: 80vh;
    justify-content: center;
}
.home .home-slider .slide .content
{
    padding: 0;
}
.home .home-slider .slide .content h1
{
    font-size: 7rem;


}
/* welcome section strats */
.welcome .box-container
{
    flex-wrap: wrap;
}
.welcome .box-container .box
{
    width: 100%;
}


/* welcome section ends */

}

